#define NDC_ADVANCEMENT_NIMBLE_STAFF
[advancement]
  id=NDC_Nimble_Staff
  always_display=yes
  description=_ "Add first-strike to staff attacks."
  image=attacks/staff-magic.png
  max_times=1
  {NDC_LEVEL0_ADVANCEMENT_XP_EFFECT}
  [effect]
    apply_to=attack
    set_name=nimble staff
    [set_specials]
      mode=append
      {WEAPON_SPECIAL_FIRSTSTRIKE}
    [/set_specials]
  [/effect]
[/advancement]
#enddef


#define NDC_ADVANCEMENT_NIMBLE_STAFF
[advancement]
  id=NDC_Advancement_Nimble_Staff
  always_display=yes
  description=_ "Apply experience with your staff to get the first strike when defending."
  image=attacks/staff-magic.png
  max_times=1
  {NDC_LEVEL0_ADVANCEMENT_XP_EFFECT}
  [effect]
    apply_to=attack
    set_name=nimble staff
    [set_specials]
      mode=append
      {WEAPON_SPECIAL_FIRSTSTRIKE}
    [/set_specials]
  [/effect]
[/advancement]
#enddef


#define NDC_ADVANCEMENT_POISON_TOLERANCE
[advancement]
  id=NDC_Advancement_Poison_Tolerance
  always_display=yes
  description=_ "Skillfully dose yourself with herbs to slow the effects of poison."
  image=items/flower1.png
  max_times=1
  {NDC_LEVEL0_ADVANCEMENT_XP_EFFECT}
  [effect]
    apply_to=new_ability
    [abilities]
      [heals]
        id=NDC_Ability_Poison_Tolerance
        name= _ "tolerance"
        description= _ "Poison Tolerance:
This unit will take 4 damage from poison per turn."
        value=0
        affect_self=yes
        affect_allies=no
      [/heals]
    [/abilities]
  [/effect]
[/advancement]
#enddef


#define NDC_LEVEL0_ADVANCEMENT_XP_EFFECT
[effect]
  apply_to=max_experience
  increase=10
[/effect]
#enddef
