[+units]
  [unit_type]
    id=NDC_Wanderer
    name= _ "Wanderer"
    # wmllint: general spelling mage mages magery magecraft
    race=human
    gender=male,female
    image="units/human-magi/mage.png"
    profile="portraits/humans/mage.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=22
    movement_type=smallfoot
    movement=5
    experience=12
    level=0
    zoc=yes
    alignment=neutral
    advances_to=Poacher,Bowman,Thief,Fencer
    cost=10
    usage=mixed fighter
    description= _ "In hard times some common folk travel to the city for a better life, some retreat into the woods or mountains to become hermits, and some even turn to brigandry. But in the midst of all these displaced, there are those who simply wander from place to place, waiting to find their destiny."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-magi/mage-defend.png" "units/human-magi/mage.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/mage.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/mage.png"
    [/portrait]
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/human-magi/mage.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-magi/mage-attack-staff1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-magi/mage-attack-staff2.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-magi/mage-attack-staff2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/human-magi/mage-attack-magic1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/human-magi/mage.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Mage"
        gender=female
        image="units/human-magi/mage+female.png"
        profile="portraits/humans/mage+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/human-magi/mage+female-defend.png" "units/human-magi/mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/humans/transparent/mage+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/humans/transparent/mage+female.png"
        [/portrait]
        [attack_anim]
            [filter_attack]
                name=staff
            [/filter_attack]
            [frame]
                image="units/human-magi/mage+female.png"
            [/frame]
            [frame]
                image="units/human-magi/mage+female-attack-staff1.png"
            [/frame]
            [if]
                [frame]
                    image="units/human-magi/mage+female-attack-staff2.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/human-magi/mage+female-attack-staff2.png"
                [/frame]
            [/else]
            [frame]
                image="units/human-magi/mage+female-attack-magic1.png"
            [/frame]
            [frame]
                image="units/human-magi/mage+female.png"
            [/frame]
        [/attack_anim]
    [/female]
  [/unit_type]
[/units]
